body {
  font-family: 'Montserrat', sans-serif;
  font-weight: 400;
  color: #333;
}

body{
    margin: 0;
    background: url(../images/fondo1.jpg) no-repeat center center;
    background-attachment: fixed;
    background-size: cover;
    padding: 6em 0;
    font-family: 'Roboto', sans-serif;
}

button.boton {
    background-color: #f9ca24;
    border:2px sólido #A65B1A;
    border-radius: 3px;
    width: 100px;
    height: 30px;
    Color:#706fd3;
    font-weight:bold;
    text-align:center;
    cursor:pointer;
}


h1, h2, h3, h4, h5, h6 {
  color: #2B2D42;
  font-weight: 700;
  margin: 0 0 10px;
}

a {
  color: #2B2D42;
  font-weight: 500;
}

a:hover {
  color: #D10024;
  text-decoration: none;
}

.Encabezado h1 a {
    color: #FFF;
    text-decoration: none;
    text-align: center;
    font-size: 60px;
    display: block;
    background: #ff304d;
    padding: 34px 20px;
    font-weight: 600;
}

.producto {
  margin: auto;
}


.producto .producto-cuerpo {

  padding: 15px;
  background-color: #FFF;
  text-align: center;
}

.producto .producto-cuerpo .producto-info {
  font-size: 30px;
  color: #8D99AE;
}

.producto .producto-cuerpo .producto-precio {
  color: #D10024;
  font-size: 18px;
}

.pie {
    text-align: center;
}
.pie p {
    color: #fff;
    font-size: 14px;
    padding: 20px 20px;
    background: #1e2223;
}
.pie p a {
    color: #ff304d;
    text-decoration: none;
}
.pie p a:hover{
  color: #fff;
}
.ancla {
  position: fixed;
  bottom: 24px;
  right: 1%;
    width: 64px;
    height: 64px;
  background: url("../images/flecha.png") no-repeat 0px 0px;
}
